@import '@/assets/css/fonts.css';

:root {
  --background: #f0f5fe;
  --foreground: #fff;
  /* breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Nötig, damit der Body den gesamten Viewport abdeckt */
  margin: 0;    /* Entfernt Standard-Margin */
  font-family: 'Ubuntu';
}

body {
  background: var(--background);
}

main {
  padding: 20px 20px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

/* Allgemeine Resets für alle Inputs, Textareas, Buttons */
input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit; /* Übernimmt die Schriftart vom Elternelement */
  color: inherit; /* Übernimmt die Textfarbe vom Elternelement */
  background: none;
  box-shadow: none; /* Entfernt Schatten, falls vorhanden */
  appearance: none; /* Entfernt browser-spezifische Stile wie Pfeile bei number-inputs */
}

/* Spezifische Resets für Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
  resize: none; /* Deaktiviert Größenänderungen bei Textareas */
}

/* Buttons */
button {
  all: unset; /* Setzt alle Button-Stile zurück */
  cursor: pointer; /* Zeigt den Pointer-Cursor an */
}

/* Select-Elemente */
select {
  appearance: none;
  background: none;
  border-radius: 0;
}

/* Checkbox und Radio */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
}

/* Fokus-Zustand für alle Inputs */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
