.button {
    background: #483EFE;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.button:hover,
.button:focus {
    background: #0c295a;
}

.secondary {
    background: none;
    color: #a5a5a5;
}

.secondary:hover,
.secondary:focus {
    background: #f8f9fe;
    color: #000;
}