.form {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.contentButtonWrapper {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buttonWrapper {
    justify-content: flex-end;
    display: flex;
    padding: 20px 0 0;
}

.withPrev {
    justify-content: space-between
}

.sidebar,
.content {
    padding: 20px;
}

.sidebar {
    background: url('../assets/images/bg-sidebar-mobile.svg');
    background-size: cover;
    width: 100%;
    left: -20px;
    box-sizing: content-box;
    min-height: 170px;
    position: relative;
}

.content {
    background: white;
    z-index: 10;
    width: 100%;
    padding: 20px;
    border-radius: 10px; 
    position: relative;
    margin-top: -100px;
}

@media screen and (min-width: 768px) {
    .form {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        background: #fff;
        border-radius: 10px; 
        max-width: 850px;
        width: 100%;
    }

    .form,
    .content, 
    .sidebar {
        position: static;
    }

    .content {
        margin: 0 auto 15px;
        width: calc(100% - 28%);
    }

    .buttonWrapper {
        max-width: 450px;
        margin: auto;
        width: 100%;
    }

    .sidebar {
        width: 28%;
        box-sizing: border-box;
        border-radius: 10px;
        background: url('../assets/images/bg-sidebar-desktop.svg');
        background-position: bottom right;
    }

    .contentBody {
        max-width: 450px;
        margin: auto;
    }

    .buttonWrapper {
        padding: 20px;
    }
}