.component {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    display: block;
    border: 1px solid #dddedf;
    border-radius: 10px;
}

.component:hover {
    border-color: #000;
}

.checked {
    background-color: #F8F9FE;
    border-color: #6560b3;
}

.child {
    padding: 15px;
    display: block;
}

.input {
    position: absolute;
    z-index: -100;
}
