.component {
    position: relative;
}

.label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.input {
    border: 1px solid #e5e5e5;
    padding: 10px 20px;
    outline: 0;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.input:hover {
    border-color: #a5a5a5;
}

.input:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none
}

.error {
    border-color: #f00;
}

.errorText {
    font-size: 12px;
    color: #f00;
    position: absolute;
    right: 0;
    top: 0;
}